{{!-- {{yield}} --}}
<style>
    .coloredBg  {
    background-color: #ff1a41!important;
    }
  table {
    text-align: center;
    width: 100%;
  }
  table tr td {
    border: 1px solid #eee;
  }
  button {
    border: none;
    background-color: #fff;
    height: 100px;
    width: 100%;
    font-weight: 200;
    font-size: 38px;
  }

  #tip {
      background-color: #ff1a41;
  }
  #tip tr td button {
      background-color: transparent;
      color: #fff;
  }
  #tip tr td button:hover {
      background-color: #ff1a49;
  }
</style>

<!-- Beginning of the main keyboard component --> 
<table id="tip" border="0" cellspacing="0"> 
  <tr>
    <td><button class="" {{action "fifthteen" this.post}}>15%</button></td>
    <td><button class="" {{action "eighteen" this.post}}>18%</button></td>
    <td><button class="" {{action "twenty" this.post}}>20%</button></td>
     <td><button class="" {{action "twenty" this.post}}>N</button></td>
  </tr>
</table>
  
<table border="0" cellspacing="0">
  <tr>
    <td><button {{action "one" this.post}}>1</button></td>
    <td><button {{action "two" this.post}}>2</button></td>
    <td><button {{action "three" this.post}}>3</button></td>
  </tr>
  <tr>
    <td><button {{action "four" this.post}}>4</button></td>
    <td><button {{action "five" this.post}}>5</button></td>
    <td><button {{action "six" this.post}}>6</button></td>
  </tr>
  <tr>
    <td><button {{action "seven" this.post}}>7</button></td>
    <td><button {{action "eight" this.post}}>8</button></td>
    <td><button {{action "nine" this.post}}>9</button></td>
  </tr>
  <tr>
    <td><button {{action "decimal" this.post}}>.</button></td>
    <td><button {{action "zero" this.post}}>0</button></td>
    <td><button {{action "clear" this.post}}>c</button></td>
  </tr>
</table>